2to3==1.0
backports.functools-lru-cache==1.6.6
beautifulsoup4==4.9.3
cachetools==3.1.1
certifi==2018.8.13
chardet==4.0.0
charset-normalizer==2.0.12
click==7.1.2
click-plugins==1.1.1
colorama==0.4.4
coloredlogs==15.0.1
ddddocr==1.4.10
exrex==0.11.0
flatbuffers==23.5.26
futures==3.0.5
google-api-core==1.31.5
google-api-python-client==1.12.11
google-auth==1.35.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.52.0
httplib2==0.20.4
humanfriendly==10.0
idna==2.10
ipaddress==1.0.23
lxml==4.9.3
mpmath==1.3.0
numpy==1.26.2
onnxruntime==1.16.3
opencv-python-headless==4.9.0.80
packaging==20.9
parse==1.19.0
Pillow==10.1.0
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pytz==2023.3.post1
requests==2.27.1
rsa==4.5
selenium==3.141.0
shodan==1.27.0
six==1.16.0
soupsieve==1.9.6
sympy==1.12
uritemplate==3.0.1
urllib3==1.26.9
XlsxWriter==2.0.0
zope.event==4.5.0
zope.interface==5.4.0
